@model IEnumerable<BikeDataLibrary.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "AllProducts";
}

    <div class="page-header">
        <h2 id="header-title">Products list</h2>
    </div>

<div class="flex-container">
    @Html.ActionLink("Add product", "AddProduct", "", new { @class = "btn btn-primary btn-block btn-lg btn-responsive", id = "add-product-button"})
</div>
<table id="all-products-table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListPrice)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.brand_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.category_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    @Html.ActionLink("Edit product", "UpdateProduct", new { id=item.ProductId }, new { @class = "btn btn-responsive btn-block", id = "edit-product-btn" }) 
                    @Html.ActionLink("Delete product", "DeleteProduct", new { id=item.ProductId }, new { @class = "btn btn-responsive btn-block", id = "delete-product-btn" })
                </td>
            </tr>
        }
    </tbody>

</table>
