@model IEnumerable<BikeDataLibrary.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "AllProducts";
}

    <div class="page-header">
        <h2 id="header-title">Products list</h2>
    </div>

<div class="flex-container">
    @Html.ActionLink("Add product", "AddProduct", "", new { @class = "btn btn-primary btn-block btn-lg btn-responsive", id = "add-product-button"})
</div>
<table class="table table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListPrice)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.brand_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateProduct", new { id=item.ProductId }, new { @class = "btn btn-responsive btn-block", id = "edit-product-btn" }) 
            @Html.ActionLink("Delete", "DeleteProduct", new { id=item.ProductId }, new { @class = "btn btn-responsive btn-block", id = "delete-product-btn" })
        </td>
    </tr>
}

</table>
